html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
p label {
  font-family: "Open Sans", sans-serif;
}
.header {
  padding-bottom: 2em;
  padding-top: 2em;
  background-color: bisque;
}

.diamond-container {
  display: flex;
  flex-wrap: wrap;
  width: 950px;
  margin: auto;
  border-bottom: 0px;
}

.diamond-card {
  margin: 25px;
  width: 200px;
  border: 1px solid #ccc;
  padding: 20px;
}

.diamond-card:hover {
  background-color: rgb(206, 193, 153);
}

.diamond-list {
  transition: 2s;
}

.diamond-form {
  position: relative;
  text-align: center;
}
.select-css {
  display: inline-block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 40%;
  max-width: 60%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.carat-input {
  display: inline-block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 40%;
  max-width: 60%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  background-color: rgb(234, 234, 234);
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

label {
  font-size: 18px;
  font-family: sans-serif;
}

div {
  padding-bottom: 20px;
}
.submit-div {
  padding: 0;
}
.submit-button {
  background-color: #f5a623;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #ffc568;
}
h1 h2 {
  font-family: "Open Sans", sans-serif;
}

.next-button {
  width: 50%;
  display: inline;
}

.next-link {
  float: left;
  font-style: #f5a623;
  text-decoration: underline;
  border: 1px black;
  text-decoration: none;
  color: black;
  transition: 0.25s;
}
.next-link:hover {
  cursor: hover;
  color: grey;
}
.next-text {
  padding: 10px;
  display: inline-block;
  width: auto;
  text-decoration: underline;
  color: #f5a623;
}
.next-text:hover {
  color: #cb881c;
}
.logo {
  padding: 10px 0px 0px 0px;
  float: right;
  width: 300px;
}

hr {
  margin-top: 0;
  margin-bottom: 20px;
}

img {
  float: right;
  padding-right: 15px;
  height: 75px;
}

.sold-for {
  color: rgb(97, 110, 129);
  font-weight: bold;
}

.return-value {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: rgb(97, 110, 129);
}

.nav {
  height: 75px;
  padding: 0;
}

.return-value {
  padding-top: 20px;
}

.description-header {
  font-size: 20px;
  text-align: center;
}
